//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');


$base-size: 12px;
$radius: 5px;
$transition: all 0.5s;

// COLORS

$color-intensive_blue: #209dda;
$color-intesive_red: #ee4b46;
$color-dark_red: #cf5a48;
$color-intesive_darkBlue: #072d3c;
$color-light: #ffffff;
$color-dark: #000000;
$color-accept: #56a846;

// FONTS
$font-header: 'Roboto', sans-serif;
$font-text: 'Open Sans', sans-serif;

// VARIABLES USING IN ANOTHER FILES

$background-color: $color-light;

/*HEADER*/

/*HOMEPAGE*/

/*POST*/

/*POST ADD*/

/*POST EDIT*/

/*NOT FOUND*/
